{% extends 'base.html' %}

{% block title%}
About
{% endblock %}

{% block content %}
<section class="Centres-of-Excellence">
    <div class="container customExcellence">
        <div class="row">
            <div class="col-md-12">
                <div class="Excellence-title">
                    <h2 class="animate__animated animate__fadeInDown animate__delay-2s">Centres of Excellence</h2>
                    <p class="animate__animated animate__fadeInDown animate__delay-1s">City hospital, a tertiary
                        health care centre, is widely recognized as a pioneer in 'Laparoscopic and Endoscopic
                        Surgeries'. Being the Apex Centre for Minimally Invasive Surgery in Asia, we have also been
                        honored as a Centre of excellence in 'Hernia Surgeries and Laparoscopic cancer Surgeries'.
                        Specialized in 'Accident and Trauma care', we are ably equipped with state-of-the-art treatment
                        for all types of medical emergencies.</p>
                </div>
            </div>
        </div>
     
    </div>
</section>
{% endblock %}